#Home{
    background-color: rgb(250, 250, 250);
    height: 100vh;
    width: 100vw;
    color: rgb(158, 32, 32);
}
#Home .Home{
    display: flex;
    justify-content: center;
}
#Home .header_tck{
    display: flex;
    justify-content: center;
}
#Home .header_tck img{
    color: rgb(222, 205, 205);
    height: 90px;
    width: 160px ;
    border-radius: 10%;
}
#Home .container-1{

}
#Home .btn_exp{
  margin-top: 550px;
  text-align: center;
  background-color: red;
  color: white;
  width: 120px;
  padding: 7px;
  font-size:x-large;
  margin-left: 30%;
  
}

