/* General Styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Segoe UI', sans-serif;
}

.nav {
  height: 70px;
  width: 100%;
  background-image: linear-gradient(45deg, rgb(47, 3, 3), #c00000, rgb(47, 3, 3));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 1000;
}

.nav-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
}

.nav-btn {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.nav-links > a {
  padding: 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav-links > a:hover {
  background-color: rgba(28, 25, 25, 0.948);
}

.nav-btn {
  display: none;
}

#nav-check {
  display: none;
}

.logout_container {
  display: flex;
  align-items: center;
}

.logout_button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

.logout_icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

/* Responsive Design */
@media (max-width: 600px) {
  .nav-btn {
    display: inline-block;
  }

  .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav-btn > label:hover,
  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #eee;
    margin: 6px 0;
  }

  .nav-links {
    position: fixed;
    display: block;
    width: 100%;
    background-color: rgba(34, 32, 32, 0.9);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
    z-index: 1000;
  }

  .nav-links > a {
    display: block;
    width: 100%;
    padding: 15px;
  }

  #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }

  .logout_button {
    display: none;
  }

  .logout_icon {
    display: inline-block;
  }
}

@media (min-width: 601px) {
  .logout_button {
    display: inline-block;
  }

  .logout_icon {
    display: none;
  }
}
